<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/static/homepage/css/home.css">
		<title>Home Page</title>
	</head>
	<body>
		<img src="http://watchit.ca/skin/frontend/alomilano/2017watchit/images/Logo_WATCHIT_new_transparent.png" alt="movie" style="width:100%;height:200px;">
		<h1>Welcome to WatchIt! (Movie ticket booking website)</h1>

		 <div class="buttons">

		 <a class="btn green" href="login/">CLICK HERE FOR EXISTING USER</a>
    
    	<a class="btn purple" href="register/">CLICK HERE FOR NEW USER</a>
<!--
		<form action="/homepage/login/">
		<input type="submit" name="Login" value="Login" >
		</form >

		<form action="/homepage/register/">
		<input type="submit" name="Register" value="Register">
		</form>
	-->
		 </div>
		{{args}}
		
	</body>
</html>
