<!DOCTYPE html>
<html>
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/static/homepage/css/home.css">
	<title>Register</title>
</head>
<body>

</body>
</html>
<body>
	<img src="http://watchit.ca/skin/frontend/alomilano/2017watchit/images/Logo_WATCHIT_new_transparent.png" alt="movie" style="width:100%;height:200px;">
	<h1>Register</h1>
<form method="post">
	<div class="signup">
	{% csrf_token%}
	{{ form.as_p}}
	</div>
	<div class="buttons">
	<input type="submit" value = "Register">
</div>
</form>
</body>
</html>