<html>
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/static/homepage/css/home.css">
	<title>Registeration Successful</title>
</head>
<body>

</body>
</html>
<body>
	<img src="http://watchit.ca/skin/frontend/alomilano/2017watchit/images/Logo_WATCHIT_new_transparent.png" alt="movie" style="width:100%;height:200px;">
<h1>You are successfully Registered.</h1>
<form action="/homepage">
	<div class="buttons">
	<input type="submit" value = "Home">
</div>
</form>
</form>
</body>
</html>
